<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce Model</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <div class="nav-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left" >
          <li><%= link_to "See all products", products_path %></li>
          <% if current_user && current_user.admin? %>
          <li><%= link_to "Add Product", product_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Cart | Total items: #{ cart_items }", cart_path %></li>
          <% if current_user %>
            <li><%= current_user.email %></li>
            <li><%= link_to "Sign out", '/sign_out' %></li>
          <% else %>
            <li><%= link_to "Sign up", 'sign_up' %></li>
            <li><%= link_to "Sign in", '/sign_in' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
